<div class="jobsMainDiv container-fluid my-5 m-2 text-start">

    <div>
        <div>
            <h3 class="m-3"> Goal Tasks :</h3>
        </div>

        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="addJobs my-w row">

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Goal :</label>
                        <input type="text" class="form-control" value="Goal" placeholder="Goal" disabled>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Task :</label>
                        <input type="text" class="form-control" placeholder="Task">
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Start Date :</label>
                        <input type="date" class="form-control" placeholder="Start Date">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">End Date :</label>
                        <input type="date" class="form-control" placeholder="End Date">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">percentage of completion :</label>
                        <input type="number" class="form-control" placeholder="percentage of completion">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Task Responsible :</label>
                        <input type="text" class="form-control" placeholder="Task Responsible">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Task Editor :</label>
                        <input type="text" class="form-control" placeholder="Task Editor">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Reliability :</label>
                        <input type="text" class="form-control" placeholder="Reliability">
                    </div>
                </div>


                <div class="col-xl-12 col-lg-12 col-md-12 ">
                    <div style="height: 36px;"></div>
                    <div class="my-2">
                        <button type="button" class="btn btn-outline-success OurButton">Add to Tasks</button>
                    </div>
                </div>
               

            </div>
        </div>

        <div>
            <h3 class="m-3"> (GOAL NAME)</h3>
        </div>

        <div class="w-100 d-flex align-items-center justify-content-center mt-5">

            <div class="my-w overflow-x-auto">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Responsible</th>
                        <th scope="col">Editor</th>
                        <th scope="col">Reliability</th>
                        <th scope="col">Completion rate</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>


                      </tr>
                    </thead>
    
                    <tbody>
    
                      <tr>
                        <th scope="row">1</th>
                        <td>Task 1</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>Responsible</td>
                        <td>AHMED</td>
                        <td>Reliability</td>
                        <td class="pt-3">                        
                            <div class="progress">
                                <div class="progress-bar" style="width: 25%;" >25%</div>
                              </div>                        
                            </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-warning ">Edit</button>
                        </td>
                      </tr>
    
                     
                      <tr>
                        <th scope="row">2</th>
                        <td>Task 2</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>Responsible</td>
                        <td>AHMED</td>
                        <td>Reliability</td>
                        <td class="pt-3">                        
                            <div class="progress">
                                <div class="progress-bar" style="width: 50%;" >50%</div>
                              </div>                        
                            </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-warning ">Edit</button>
                        </td>
                      </tr>
    

                      <tr>
                        <th scope="row">3</th>
                        <td>Task 3</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>Responsible</td>
                        <td>AHMED</td>
                        <td>Reliability</td>
                        <td class="pt-3">                        
                            <div class="progress">
                                <div class="progress-bar" style="width: 75%;" >75%</div>
                              </div>                        
                            </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-warning ">Edit</button>
                        </td>
                      </tr>


                     
                    </tbody>
                  </table>
            </div>

         

        </div>




<!-- 

        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="my-w overflow-x-auto">

                <button type="button" class="btn btn-success w-100 py-3" (click)="openAlert()">Add Plan</button>


            </div>
        </div> -->










    </div>


</div>