<div class="jobsMainDiv container-fluid my-5 m-2 text-start">

    <div>
        <div>
            <h3 class="m-3"> Our Plan :</h3>
        </div>

        <!-- <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="addJobs my-w row">

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">اختر الادارة</label>
                        <select class="form-select form-control" aria-label="Default select example">
                            <option selected>اختر الادارة</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">اســـم الوظـــيفة</label>
                        <input type="text" class="form-control" placeholder="اســـم الوظـــيفة">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">تاريخ بداية التقديم</label>
                        <input type="date" class="form-control" placeholder="تاريخ بداية التقديم">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">تاريخ انتهاء التقديم</label>
                        <input type="date" class="form-control" placeholder="تاريخ انتهاء التقديم">
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">مدة الاختبار بالدقائق</label>
                        <select class="form-select form-control" aria-label="Default select example">
                            <option selected>اختر مدة الاختبار</option>
                            <option value="1">5</option>
                            <option value="2">10</option>
                            <option value="3">15</option>
                            <option value="3">20</option>
                            <option value="3">25</option>
                            <option value="3">30</option>
                            <option value="3">35</option>
                            <option value="3">40</option>
                            <option value="3">45</option>
                            <option value="3">50</option>
                            <option value="3">55</option>
                            <option value="3">60</option>
                            <option value="3">65</option>
                            <option value="3">70</option>
                            <option value="3">75</option>
                            <option value="3">80</option>
                            <option value="3">85</option>
                            <option value="3">90</option>


                        </select>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12 ">
                    <div style="height: 36px;"></div>
                    <div class="my-2">
                        <button type="button" class="btn btn-outline-success OurButton">اضافة الوظيفة</button>
                    </div>
                </div>
               

            </div>
        </div> -->


        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="my-w overflow-x-auto">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Plan name</th>
                        <th scope="col">Hospital</th>
                        <th scope="col">Department</th>
                        <th scope="col">start date</th>
                        <th scope="col">end date</th>
                        <th scope="col">status</th>
                        <th scope="col">goals</th>
                        <th scope="col">details</th>
                        <th scope="col">Responsible</th>
                        <th scope="col">members</th>
                        <th scope="col">Delete</th>

                        


                      </tr>
                    </thead>
    
                    <tbody>
    
                      <tr>
                        <th scope="row">1</th>
                        <td>Plan 1</td>
                        <td>Alhada</td>
                        <td>Department</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>active</td>

                        <td>                         
                            <button type="button" class="btn btn-outline-secondary " routerLink="/goals">Add Goals</button>
                        </td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>Responsible</td>
                        <td>members</td>
                        
                        <td>                         
                            <button type="button" class="btn btn-outline-danger " routerLink="/goals">Delete</button>
                        </td>

                      </tr>
    



                      <tr>
                        <th scope="row">2</th>
                        <td>Plan 2</td>
                        <td>Mansour</td>
                        <td>Department</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>active</td>

                        <td>                        
                            <button type="button" class="btn btn-outline-secondary " routerLink="/goals">Add Goals</button>
                        </td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>Responsible</td>
                        <td>members</td>
                        
                        <td>                         
                            <button type="button" class="btn btn-outline-danger " routerLink="/goals">Delete</button>
                        </td>

                      </tr>
    

                    
                     
                    </tbody>
                  </table>
            </div>

         

        </div>






        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="my-w overflow-x-auto">

                <button type="button" class="btn btn-success w-100 py-3" (click)="openAlert()">Add Plan</button>


            </div>
        </div>






        <div id="fixedBox" #fixedBox >
            <div class="position-relative" id="smallBox"  #smallBox>
        
        
        
              <i class="fa-solid fa-xmark" id="closeBtn" (click)="closeAlert()"></i>
        
        
        

    

              <div class="w-100 d-flex align-items-center justify-content-center ">

                <div class="addJobs my-w row">
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Plan Name :</label>
                            <input type="text" class="form-control" placeholder="Plan Name">
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Hospital :</label>
                            <input type="text" class="form-control" placeholder="Hospital">
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Start Date :</label>
                            <input type="date" class="form-control" placeholder="Start Date">
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">End Date :</label>
                            <input type="date" class="form-control" placeholder="End Date">
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Department :</label>
                            <input type="text" class="form-control" placeholder="Department">
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Plan Details :</label>
                            <input type="text" class="form-control" placeholder="Plan Details">
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Plan Responsible :</label>
                            <input type="text" class="form-control" placeholder="Plan Responsible">
                        </div>
                    </div>
    
                   

                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="my-1">
                            <label class="p-2">Plan members :</label>
                            <input type="text" class="form-control" placeholder="Plan members">
                        </div>
                    </div>
    
                    <div class="col-xl-12 col-lg-12 col-md-12 ">
                        <div style="height: 36px;"></div>
                        <div class="my-2">
                            <button type="button" class="btn btn-outline-success OurButton">Add Plan</button>
                        </div>
                    </div>
                   
    
                </div>
            </div>
        
        
        
        
        
        
            </div>
          </div>
        





    </div>


</div>