.jobsMainDiv{
    min-height: 75vh;
}
.my-w{
    width: 80%;
}
.addJobs{
    
    border: 1px solid #1c6759;
    padding: 25px 10px;
    border-radius: 15px;
    transition: all 0.5s;
}
.addJobs:hover{
    border-radius: 35px;

}
.dropdownButton{
    width: 100%;
    padding: 10px ;
}
input {
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    height: 55px;

  }
  input:focus {
        border: 2px solid #1c6759;
        box-shadow: 0 0 3px 2px rgba(40,167,69,0.3);
        border-radius: 25px;
  }

  .myRadio{

    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    width: 28px;
    height: 28px;


  }
  .myRadio:focus {
    border: none;
    width: 28px;
    height: 28px;
}
.form-check-input:checked {
    background-color: #1c6759;
    border-color: #1c6759;
}

  select {
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    height: 55px;
  }
  select:focus {
        border: 2px solid #1c6759;
        box-shadow: 0 0 3px 2px rgba(40,167,69,0.3);
        border-radius: 25px;
  }

  .OurButton{
    height: 55px;
    width: 100%;
  }
  .table{
    min-width: 1000px;
  }

  .form-check .form-check-input {
     float: none;
    margin-left: -1.5em;
}

  @media all and (max-width: 991px ){

    .my-w{
        width: 90%;
    }
  }



