<div class="jobsMainDiv container-fluid my-5 m-2 text-start">

    <div>
        <div>
            <h3 class="m-3"> Plan Goals :</h3>
        </div>

        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="addJobs my-w row">

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Plan Name :</label>
                        <input type="text" class="form-control" value="first Plan" placeholder="Plan Name" disabled>
                    </div>
                </div>


                
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Goal :</label>
                        <input type="text" class="form-control" placeholder="Goal">
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">Start Date :</label>
                        <input type="date" class="form-control" placeholder="Start Date">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="my-1">
                        <label class="p-2">End Date :</label>
                        <input type="date" class="form-control" placeholder="End Date">
                    </div>
                </div>



                <div class="col-xl-12 col-lg-12 col-md-12 ">
                    <div style="height: 36px;"></div>
                    <div class="my-2">
                        <button type="button" class="btn btn-outline-success OurButton">Add to Goals</button>
                    </div>
                </div>
               

            </div>
        </div>

        <div>
            <h3 class="m-3"> first Plan</h3>
        </div>

        <div class="w-100 d-flex align-items-center justify-content-center mt-5">

            <div class="my-w overflow-x-auto">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Goal</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Tasks</th>
                        <th scope="col">Delete</th>

                      </tr>
                    </thead>
    
                    <tbody>
    
                      <tr>
                        <th scope="row">1</th>
                        <td>Goal</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>                        
                            <button type="button" class="btn btn-outline-secondary " routerLink="/tasks">Add Tasks</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>

                      </tr>
    
                     
                      <tr>
                        <th scope="row">1</th>
                        <td>Goal</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>                        
                            <button type="button" class="btn btn-outline-secondary " routerLink="/tasks">Add Tasks</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>

                      </tr>


                      <tr>
                        <th scope="row">1</th>
                        <td>Goal</td>
                        <td>10/5/2025</td>
                        <td>11/5/2025</td>
                        <td>                        
                            <button type="button" class="btn btn-outline-secondary " routerLink="/tasks">Add Tasks</button>
                        </td>
                        <td>                        
                            <button type="button" class="btn btn-outline-danger ">Delete</button>
                        </td>

                      </tr>
    
                     
                    </tbody>
                  </table>
            </div>

         

        </div>




<!-- 

        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="my-w overflow-x-auto">

                <button type="button" class="btn btn-success w-100 py-3" (click)="openAlert()">Add Plan</button>


            </div>
        </div> -->










    </div>


</div>