<div class="jobsMainDiv container-fluid my-5 m-2 text-start">
    <div>
        <div>
            <h3 class="m-3"> DashBoard </h3>
        </div>

        <div class="w-100 d-flex align-items-center justify-content-center ">

            <div class="my-w row">

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="dashDiv my-1">
                        <div class="">
                            <h6 class="dashDivH" style="font-size: 25px;">First Project</h6>

                            <h6 class="dashDivH">Responsible</h6>
                            <h6 class="dashDivH">Department</h6>
                            
                            <div class="d-flex justify-content-center">
                                <h6 class="dashDivH">01/01/2025</h6>
                                <h6 class="dashDivH px-2"> To </h6>
                                <h6 class="dashDivH">06/06/2025</h6>
                            </div>
                            <h6 class="dashDivH">7 Goals</h6>
                            <h6 class="dashDivH">25 Tasks</h6>

                            <div class="progress mx-1">
                                <div class="progress-bar" style="width: 100%;">100%</div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="dashDiv2 my-1">
                        <div class="">
                            <h6 class="dashDivH" style="font-size: 25px;">Second Project</h6>
                            <h6 class="dashDivH">Responsible</h6>
                            <h6 class="dashDivH">Department</h6>

                            <div class="d-flex justify-content-center">
                                <h6 class="dashDivH">01/01/2025</h6>
                                <h6 class="dashDivH px-2"> To </h6>
                                <h6 class="dashDivH">06/06/2025</h6>
                            </div>
                            <h6 class="dashDivH">7 Goals</h6>
                            <h6 class="dashDivH">25 Tasks</h6>
                            <div class="progress mx-1">
                                <div class=" ourProgress1" style="width: 50%;">50%</div>
                            </div>
                        </div>

                    </div>
                </div>





                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 ">
                    <div class="dashDiv3 my-1">
                        <div class="">
                            <h6 class="dashDivH" style="font-size: 25px;">Third Project</h6>
                            <h6 class="dashDivH">Responsible</h6>
                            <h6 class="dashDivH">Department</h6>

                            <div class="d-flex justify-content-center">
                                <h6 class="dashDivH">01/01/2025</h6>
                                <h6 class="dashDivH px-2"> To </h6>
                                <h6 class="dashDivH">06/06/2025</h6>
                            </div>
                            <h6 class="dashDivH">7 Goals</h6>
                            <h6 class="dashDivH">25 Tasks</h6>
                            <div class="progress mx-1">
                                <div class=" ourProgress2" style="width: 25%;">25%</div>
                            </div>
                        </div>

                    </div>
                </div>













            </div>
        </div>





    </div>


</div>